* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-Color: #000;
    --secondary-Color: #000;
    --third-Color: #000;
}

body {
    background: linear-gradient(135deg, #eef2f7, #ffffff);
    scroll-behavior: smooth;
}

/* Glassmorphism */
.glass-card {
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.glass-card:hover {
    transform: translateY(-5px);
}

/* Scroll to top */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: none;
    z-index: 999;
}

/* Navbar */
.navbar {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.7) !important;
}


/* .glass {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
} */

section {
    padding: 80px 0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills span {
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}

footer {
    padding: 40px 0;
    background-color: #f9f9f9;
    text-align: center;
}

footer a:hover {
  color: #0d6efd !important; /* Bootstrap blue hover */
  transition: 0.3s ease-in-out;
}
